---
import SidebarCategories from "@/components/cards/SidebarCategories.astro";
import HotPostThumb from "@/components/cards/HotPostThumb.astro";
import dayjs from "dayjs";

type Props = {
  categories?: any;
  latestPosts?: any;
};

const { categories = [], latestPosts } = Astro.props;
---

<div class="sidebar-wrap">
  <div class="sidebar-widget sidebar-widget-two">
    <div class="widget-title mb-30">
      <h6 class="title">Hot Categories</h6>
      <div class="section-title-line"></div>
    </div>
    <div class="sidebar-categories">
      <ul class="list-wrap">
        {
          categories?.length ? (
            <>
              {categories.map((cat: any) => (
                <SidebarCategories {...cat} />
              ))}
            </>
          ) : null
        }
      </ul>
    </div>
  </div>
  <div class="sidebar-widget sidebar-widget-two">
    <div class="widget-title mb-25">
      <h2 class="title">Subscribe & Followers</h2>
      <div class="section-title-line"></div>
    </div>
    <div class="sidebar-social-wrap">
      <ul class="list-wrap">
        <li><a href="#"><i class="fab fa-facebook-f"></i>facebook</a></li>
        <li><a href="#"><i class="fab fa-twitter"></i>twitter</a></li>
        <li><a href="#"><i class="fab fa-instagram"></i>instagram</a></li>
        <li><a href="#"><i class="fab fa-youtube"></i>youtube</a></li>
        <li><a href="#"><i class="fab fa-linkedin-in"></i>LinkedIn</a></li>
        <li><a href="#"><i class="fab fa-pinterest-p"></i>Pinterest</a></li>
      </ul>
    </div>
  </div>

  {
    latestPosts?.length ? (
      <div class="sidebar-widget sidebar-widget-two">
        <div class="widget-title mb-30">
          <h6 class="title">Recent News</h6>
          <div class="section-title-line" />
        </div>
        <div class="hot-post-wrap">
          <HotPostThumb
            image={latestPosts?.at(0)?.image}
            slug={latestPosts?.at(0)?.slug}
          />
          {latestPosts?.map((post: any, idx: number) => (
            <div class="hot-post-item">
              {post ? (
                <div class="hot-post-content">
                  {post?.category ? (
                    <a
                      href={
                        "/category/" +
                        post?.category?.slug
                      }
                      class="post-tag"
                    >
                      {post?.category?.title }
                    </a>
                  ) : null}

                  <h4 class="post-title">
                    <a href={"/" + post.slug}>
                      {post?.title}
                    </a>
                  </h4>
                  <div class="blog-post-meta">
                    <ul class="list-wrap">
                      <li>
                        <i class="flaticon-calendar" />
                        {dayjs(post?.createdAt).format(
                          "DD MMMM, YYYY"
                        )}
                      </li>
                    </ul>
                  </div>
                </div>
              ) : null}
            </div>
          ))}
        </div>
      </div>
    ) : null
  }

  <!-- <div class="sidebar-widget sidebar-widget-two">
    <div class="sidebar-newsletter">
      <div class="icon"><i class="flaticon-envelope"></i></div>
      <h4 class="title">Daily Newsletter</h4>
      <p>Get all the top stories from Blogs to keep track.</p>
      <div class="sidebar-newsletter-form-two">
        <form action="#">
          <div class="form-grp">
            <input type="text" placeholder="Enter your e-mail" />
            <button type="submit" class="btn">Subscribe Now</button>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="checkbox" />
            <label for="checkbox">I agree to the terms & conditions</label>
          </div>
        </form>
      </div>
    </div>
  </div> -->
</div>
