---
import { Image } from 'astro:assets';
import BannerO1 from "@/assets/img/blog/nw_banner_post01.jpg"
---
<div class="banner-post-five">
    <div class="banner-post-thumb-five">
        <a href="blog-details.html">
            <Image src={BannerO1} alt="">
        </a>

        <!-- <a href="https://www.youtube.com/watch?v=G_AEL-Xo5l8" class="paly-btn popup-video"><i class="fas fa-play"></i></a> -->
    </div>
    <div class="banner-post-content-five">
        <a href="blog.html" class="post-tag-four">Business</a>
        <h2 class="post-title"><a href="blog-details.html">A Pragmatist’s Guide To Theire Lean User Research</a>
        </h2>
        <div class="blog-post-meta">
            <ul class="list-wrap">
                <li><i class="flaticon-user"></i>by<a href="author.html">Admin</a></li>
                <li><i class="flaticon-calendar"></i>27 August, 2024</li>
            </ul>
        </div>
    </div>
</div>