---
import { Image } from "astro:assets";
import Banner from "@/assets/img/blog/nw_editor_post01.jpg";
import {
  getImageHeightAndWeight,
  showImage,
  tansation,
} from "@/scripts/helpets";
import dayjs from "dayjs";

type Props = {
  post?: any;
};

const { post } = Astro.props;
---

<div class="editor-post-three">
  <div class="editor-post-thumb-three">
    <a href={"/" + post?.slug}>
      <Image
        src={showImage(post?.image)}
        height={getImageHeightAndWeight(post?.image, "height")}
        width={getImageHeightAndWeight(post?.image, "width")}
        alt="image"
        format="avif"
        quality={"mid"}
      />
      <!-- <a href="https://www.youtube.com/watch?v=G_AEL-Xo5l8" class="paly-btn popup-video"><i class="fas fa-play"></i></a> -->
    </a>
    <div class="editor-post-content-three">
      <!-- <a href="blog.html" class="post-tag-four">Sports</a> -->
      <h2 class="post-title">
        <a href={"/" + post?.slug}>{tansation(post, "title")}</a>
      </h2>
      <div class="blog-post-meta">
        <ul class="list-wrap">
          <!-- <li><i class="flaticon-calendar"></i>27 August, 2024</li>
          <li><i class="flaticon-history"></i>20 Mins</li> -->

          <li>
            <i class="flaticon-user"></i>by<a href="/"
              >{post.createdBy?.firstname}</a
            >
          </li>
          <li>
            <i class="flaticon-calendar"></i>{
              dayjs(post.createdAt).format("DD MMMM, YYYY")
            }
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
