---
type Props = {

}

const {} = Astro.props

---
<div class="hot-post-item">
    <div class="hot-post-content">
        <a href="blog.html" class="post-tag">Adventure</a>
        <h4 class="post-title"><a href="blog-details.html">Inspiring Web Design And UX Showcases</a></h4>
        <div class="blog-post-meta">
            <ul class="list-wrap">
                <li><i class="flaticon-calendar"></i>27 August, 2024</li>
                <li><i class="flaticon-history"></i>20 Mins</li>
            </ul>
        </div>
    </div>
</div>