---
import { Image } from "astro:assets";
import { showImage } from "@/scripts/helpets";

type Props = { image: any; slug: string };

const { image, slug } = Astro.props;
---

<div class="hot-post-thumb">
  <a href={"/" + slug || "#"}>
    <Image src={showImage(image)} width={200} height={220} alt="Banner" />
  </a>
</div>
