---
import { tansation } from "@/scripts/helpets";
import dayjs from "dayjs";

const { post } = Astro.props;
---

<>
  {
    post ? (
      <div class="politics-post-two">
        <div class="politics-post-content-two">
          <h2 class="post-title">
            <a href={"/" + post.slug}>
              {post.title}
            </a>
          </h2>
          <div class="blog-post-meta">
            <ul class="list-wrap">
              <li>
                <i class="flaticon-calendar" />
                {dayjs(post.createdAt).format("DD MMMM, YYYY")}
              </li>
            </ul>
          </div>
        </div>
      </div>
    ) : null
  }
</>
