---
import { Image } from 'astro:assets';
import Banner from "@/assets/img/blog/nw_banner_post01.jpg"
---
<div class="stories-post">
    <div class="stories-post-thumb">
        <a href="blog-details.html"><Image src={Banner} alt="" format='avif' quality={'mid'}/></a>
    </div>
    <div class="stories-post-content">
        <a href="blog.html" class="post-tag-four">Politics</a>
        <h5 class="post-title"><a href="blog-details.html">Lessons Learned As A Designer-Founder</a></h5>
        <div class="blog-post-meta">
            <ul class="list-wrap">
                <li><i class="flaticon-calendar"></i>27 August, 2024</li>
            </ul>
        </div>
    </div>
</div>