---
import { tansation } from "@/scripts/helpets";
import dayjs from "dayjs";

const { post, idx } = Astro.props;
---

{
  post ? (
    <div class="stories-post-two">
      <h2 class="number">{idx + 1}.</h2>
      <div class="stories-post-content">
        <h5 class="post-title">
          <a href={"/" + post.slug}>{tansation(post, "title")}</a>
        </h5>
        <div class="blog-post-meta">
          <ul class="list-wrap">
            <li>
              <i class="flaticon-calendar" />
              {dayjs(post.createdAt).format("DD MMMM, YYYY")}
            </li>
          </ul>
        </div>
      </div>
    </div>
  ) : null
}
