---
import HorizontalPostFour from "../cards/HorizontalPostFour.astro";
import SportsPost from "../cards/SportsPost.astro";
---

<div class="sports-post-wrap">
  <div class="section-title-wrap mb-30">
    <div class="section-title section-title-four">
      <h2 class="title">Sports</h2>
    </div>
    <div class="section-title-line"></div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <SportsPost />
    </div>
    <div class="col-lg-4">
      <div class="sidebar-wrap sidebar-wrap-four">
        <HorizontalPostFour />
        <HorizontalPostFour />
        <HorizontalPostFour />
        <HorizontalPostFour />
      </div>
    </div>
  </div>
</div>
