---
import HorizontalPostFour from "../cards/HorizontalPostFour.astro";
import TopNewsPost from "../cards/TopNewsPost.astro";

const { category } = Astro.props;
const firstPost = category?.posts?.at(0);
const otherPosts = category?.posts?.slice(1, 4) || [];
---

<div class="world-top-news">
  <div class="row">
    <div class="col-lg-12">
      <div class="section-title-wrap mb-30">
        <div class="section-title section-title-four">
          <h2 class="title">{category?.title}</h2>
        </div>
        <div class="section-title-line"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <TopNewsPost post={firstPost} />
    </div>
    {
      otherPosts?.length ? (
        <>
          {otherPosts.map((post: any) => (
            <div class="col-lg-4">
              <HorizontalPostFour post={post} />
            </div>
          ))}
        </>
      ) : null
    }

    <!-- <div class="col-lg-4">
      <HorizontalPostFour />
    </div>
    <div class="col-lg-4">
      <HorizontalPostFour />
    </div> -->
  </div>
</div>
