---
import BannerPostFive from "../cards/BannerPostFive.astro";
---

<section class="today-post-area pt-50">
  <div class="section-title-wrap">
    <div class="section-title section-title-four">
      <h2 class="title">Today’s Hot Spot</h2>
      <div class="section-title-line"></div>
    </div>
  </div>
  <div class="today-post-wrap">
    <div class="row gutter-40 justify-content-center">
      <div class="col-lg-4 col-md-6">
        <BannerPostFive />
      </div>
      <div class="col-lg-4 col-md-6">
        <BannerPostFive />
      </div>
      <div class="col-lg-4 col-md-6">
        <BannerPostFive />
      </div>
    </div>
  </div>
</section>
