---
import { tansation } from "@/scripts/helpets";
import PoliticsPost from "../cards/PoliticsPost.astro";
import PoliticsPostTwo from "../cards/PoliticsPostTwo.astro";

const { category } = Astro.props;
const firstPost = category?.posts?.at(0);
const otherPosts = category?.posts?.slice(1, 4) || [];
---

<section class="politics-post-area">
  <div class="section-title-wrap">
    <div class="section-title section-title-four">
      <h2 class="title">{category?.title}</h2>
      <div class="section-title-line"></div>
    </div>
  </div>
  <div class="politics-post-wrap">
    <div class="row">
      <div class="col-69">
        <PoliticsPost post={firstPost} />
      </div>
      <div class="col-31">
        {
          otherPosts.length ? (
            <div class="politics-post-wrap-two">
              {otherPosts.map((post: any) => (
                <PoliticsPostTwo post={post} />
              ))}
            </div>
          ) : null
        }
      </div>
    </div>
  </div>
</section>
