---
import HotPostItemTwo from "../cards/HotPostItemTwo.astro";
---

<div class="sidebar-widget-three">
  <div class="widget-title widget-title-three mb-20">
    <div class="section-title-line"></div>
    <h2 class="title">Business</h2>
  </div>
  <div class="hot-post-wrap">
    <!-- Start Ad  -->
    <!-- <div class="hot-post-thumb">
                          <a href="blog-details.html"><img src="assets/img/blog/nw_banner_post01.jpg" alt=""></a>
                      </div> -->
    <!-- End Ad  -->
    <HotPostItemTwo />
    <HotPostItemTwo />
    <HotPostItemTwo />
    <HotPostItemTwo />
  </div>
</div>
