---
import Layout from "../../layouts/Layout.astro";
import BannerPostSix from "@/components/cards/BannerPostSix.astro";
import BannerPostFive from "@/components/cards/BannerPostFive.astro";
import PoliticsPost from "@/components/cards/PoliticsPost.astro";
import PoliticsPostTwo from "@/components/cards/PoliticsPostTwo.astro";
import StoriesPost from "@/components/cards/StoriesPost.astro";
import StoriesPostTwo from "@/components/cards/StoriesPostTwo.astro";
import EditorPostThree from "@/components/cards/EditorPostThree.astro";
import TopNewsPost from "@/components/cards/TopNewsPost.astro";
import HorizontalPostFour from "@/components/cards/HorizontalPostFour.astro";
import SportsPost from "@/components/cards/SportsPost.astro";
import HotPostItemTwo from "@/components/cards/HotPostItemTwo.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("bn");
---

<Layout title="Welcome to Astro.">
	{t("home.title")}
	<!-- banner-post-area -->
	<section class="banner-post-area-five pt-50">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-9">
					<div class="news-banner-post-wrap">
						<div class="row">
							<div class="col-67 order-0 order-lg-2">
								<BannerPostSix/>
							</div>
							<div class="col-33">
								<div class="news-banner-small-post">
									<BannerPostFive/>
									<BannerPostFive/>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Start Ad  -->
					<!-- <div class="ad-banner-img ad-banner-img-two text-center pt-20 pb-50">
						<a href="#">
							<img src="assets/img/images/advertisement13.jpg" alt="">
						</a>
					</div> -->
					<!-- End Ad  -->

					<!-- politics-post-area -->
					<section class="politics-post-area">
						<div class="section-title-wrap">
							<div class="section-title section-title-four">
								<h2 class="title">Politics</h2>
								<div class="section-title-line"></div>
							</div>
						</div>
						<div class="politics-post-wrap">
							<div class="row">
								<div class="col-69">
									<PoliticsPost/>
								</div>
								<div class="col-31">
									<div class="politics-post-wrap-two">
										<PoliticsPostTwo/>
										<PoliticsPostTwo/>
										<PoliticsPostTwo/>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- politics-post-area-end -->

					<!-- today-post-area -->
					<section class="today-post-area pt-50">
						<div class="section-title-wrap">
							<div class="section-title section-title-four">
								<h2 class="title">Today’s Hot Spot</h2>
								<div class="section-title-line"></div>
							</div>
						</div>
						<div class="today-post-wrap">
							<div class="row gutter-40 justify-content-center">
								<div class="col-lg-4 col-md-6">
									<BannerPostFive/>
								</div>
								<div class="col-lg-4 col-md-6">
									<BannerPostFive/>
								</div>
								<div class="col-lg-4 col-md-6">
									<BannerPostFive/>
								</div>
							</div>
						</div>
					</section>
					<!-- today-post-area-end -->
				</div>
				<div class="col-xl-3 col-lg-8">
					<div class="sidebar-wrap-three">
						<div class="sidebar-widget-three">
							<div class="widget-title widget-title-three mb-20">
								<div class="section-title-line"></div>
								<h2 class="title">Top Stories</h2>
							</div>
							<div class="stories-post-wrap">
								<StoriesPost/>
								<StoriesPost/>
								<StoriesPost/>
								<StoriesPost/>
							</div>
						</div>
						
						<!-- Start Ad  -->
						<!-- <div class="sidebar-widget-three">
							<div class="sidebar-img-two">
								<a href="#"><img src="assets/img/images/sidebar_img05.jpg" alt=""></a>
							</div>
						</div> -->
						<!-- End Ad  -->

						<div class="sidebar-widget-three">
							<div class="widget-title widget-title-three mb-20">
								<div class="section-title-line"></div>
								<h2 class="title">Top Stories</h2>
							</div>
							<div class="stories-post-wrap-two">
								<StoriesPostTwo/>
								<StoriesPostTwo/>
								<StoriesPostTwo/>
								<StoriesPostTwo/>
								<StoriesPostTwo/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- banner-post-area-end -->

	<!-- ad-banner-area -->
	<!-- <div class="ad-banner-area pt-50 pb-60">
		<div class="container">
			<div class="ad-banner-img ad-banner-img-two text-center">
				<a href="#">
					<img src="assets/img/images/advertisement14.jpg" alt="">
				</a>
			</div>
		</div>
	</div> -->
	<!-- ad-banner-area-end -->


	<!-- editor-post-area -->
	<section class="editor-post-area-three">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title-wrap mb-30">
						<div class="section-title section-title-four">
							<h2 class="title">Editors' Picks</h2>
							<div class="editor-nav-two"></div>
						</div>
						<div class="section-title-line"></div>
					</div>
				</div>
			</div>
			<div class="row gutter-40 editor-post-active-two">
				<div class="col-lg-3">
					<EditorPostThree/>
				</div>
				<div class="col-lg-3">
					<EditorPostThree/>
				</div>
				<div class="col-lg-3">
					<EditorPostThree/>
				</div>
				<div class="col-lg-3">
					<EditorPostThree/>
				</div>
				<!-- <div class="col-lg-3">
					<EditorPostThree/>
				</div> -->
			</div>
		</div>
	</section>
	<!-- editor-post-area-end -->

	<!-- top-news-post -->
	<section class="top-news-post-area pt-70 pb-70">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-9">
					<div class="row">
						<div class="col-lg-12">
							<div class="section-title-wrap mb-30">
								<div class="section-title section-title-four">
									<h2 class="title">World Top News</h2>
								</div>
								<div class="section-title-line"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<TopNewsPost/>
						</div>
						<div class="col-lg-4">
							<HorizontalPostFour/>
						</div>
						<div class="col-lg-4">
							<HorizontalPostFour/>
						</div>
						<div class="col-lg-4">
							<HorizontalPostFour/>
						</div>
					</div>
					
					<!-- Start  Ad  -->
					<!-- <div class="ad-banner-area pt-20 pb-50">
						<div class="ad-banner-img ad-banner-img-two text-center">
							<a href="#">
								<img src="assets/img/images/advertisement15.jpg" alt="">
							</a>
						</div>
					</div> -->
					<!-- End Start  -->

					<div class="sports-post-wrap">
						<div class="section-title-wrap mb-30">
							<div class="section-title section-title-four">
								<h2 class="title">Sports</h2>
							</div>
							<div class="section-title-line"></div>
						</div>
						<div class="row">
							<div class="col-lg-8">
								<SportsPost/>
							</div>
							<div class="col-lg-4">
								<div class="sidebar-wrap sidebar-wrap-four">
									<HorizontalPostFour/>
									<HorizontalPostFour/>
									<HorizontalPostFour/>
									<HorizontalPostFour/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-8">
					<div class="sidebar-wrap-three">
						<div class="sidebar-widget-three">
							<div class="sidebar-newsletter sidebar-newsletter-two">
								<div class="icon"><i class="flaticon-envelope"></i></div>
								<h4 class="title">Daily Newsletter</h4>
								<p>Get all the top stories from Blogs to keep track.</p>
								<div class="sidebar-newsletter-form-two">
									<form action="#">
										<div class="form-grp">
											<input type="text" placeholder="Enter your e-mail">
											<button type="submit" class="btn">Subscribe Now</button>
										</div>
										<div class="form-check">
											<input type="checkbox" class="form-check-input" id="checkbox">
											<label for="checkbox">I agree to the terms & conditions</label>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="sidebar-widget-three">
							<div class="widget-title widget-title-three mb-20">
								<div class="section-title-line"></div>
								<h2 class="title">Business</h2>
							</div>
							<div class="hot-post-wrap">
								<!-- Start Ad  -->
								<!-- <div class="hot-post-thumb">
									<a href="blog-details.html"><img src="assets/img/blog/nw_banner_post01.jpg" alt=""></a>
								</div> -->
								<!-- End Ad  -->
								<HotPostItemTwo/>
								<HotPostItemTwo/>
								<HotPostItemTwo/>
								<HotPostItemTwo/>
							</div>
						</div>

						<!-- Start Ad  -->
						<!-- <div class="sidebar-widget sidebar-widget-two">
							<div class="sidebar-img">
								<a href="#">
									<img src="assets/img/images/sidebar_img06.jpg" alt="">
								</a>
							</div>
						</div> -->
						<!-- End Ad  -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- top-news-post-end -->
</Layout>
