---

---
<div class="w-full m-auto ">
    <div class="mx-0 flex align-center relative min-h-0 mb-0">
        <div class="absolute z-0 w-full left-1/2 transform -translate-x-1/2 bg-blue-500 h-full top-0 bottom-0 right-0 overflow-hidden pointer-events-none"></div>
        <div class="block min-h-[1px] float-left px-6 relative align-baseline w-1/2">
            <div class="w-full h-full flex flex-col flex-nowrap justify-start items-start">
                <div class="align-left align-middle pt-20 pb-20 w-[350px] mb-0 clear-none relative">
                    <div class="transform translate-z-0">
                        <div class="flex items-center justify-start flex-row pointer-events-auto text-blue-500 no-underline bg-transparent">
                            <span class="block">
                                <img class="block w-full h-auto border-0" src="https://editorialge.com/wp-content/uploads/2021/12/Header-1024x339.png" alt="logo" height="339" width="1024"  />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block min-h-[1px] float-left px-6 relative align-baseline w-1/2"></div>
    </div>
</div>