---

---
<div class="block w-full overflow-auto bg-blue-500 text-left">
  <div class="p-6">
    <img class="block h-auto border-0" src="https://editorialge.com/wp-content/uploads/2021/12/Header-1024x339.png" 
                                alt="logo" width="350"  />
  </div>
</div>
