---
const {data} = Astro.props;
---

<!-- breadcrumb-area -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-content">
          <nav aria-label="breadcrumb">
            {
              data?.length ? <ol class="breadcrumb">
                {
                  data.map((item: {value: string, src: string}, idx: number) => <li class={`breadcrumb-item ${data.length === idx+1 ? 'active' : ''}` }>
                      <a href={item.src}>{item.value}</a>
                    </li>)
                }
              </ol> : ''
            }
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb-area-end -->


<!-- <li class="breadcrumb-item active" aria-current="page">Blogs</li> -->
