---
const { data } = Astro.props;
---

<!-- breadcrumb-area -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-content">
          <nav aria-label="breadcrumb">
            {
              data?.length ? (
                <ol class="breadcrumb">
                  {data.map(
                    (item: { name: string; url: string }, idx: number) => (
                      <li
                        class={`breadcrumb-item ${data.length === idx + 1 ? "active" : ""}`}
                      >
                        {data.length === idx + 1 ? (
                          item.name
                        ) : (
                          <a href={item.url}>{item.name}</a>
                        )}
                      </li>
                    )
                  )}
                </ol>
              ) : null
            }
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb-area-end -->

<!-- <li class="breadcrumb-item active" aria-current="page">Blogs</li> -->
